@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#timeline {
  width: 100%;
  background: rgba(255, 255, 255, 0.25);
  /* z-index: 1000; */
  position: fixed;
  bottom: 0;
  padding: 0.5em 0.5em;
}
